/* GLOBAL */

html {
  height: 100%;
}

.ribbon {
  background-color: #353535;
}

.content-subhead {
  color: #000;
  font-size: 24px;
}

.ribbon .content-subhead {
  color: #fff;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* END OF GLOBAL */

/* NAV BAR */
.home-menu {
  background-color: #000;
}

.pure-menu-heading {
  color: #fff;
  padding: 5px;
  margin-left: 10px;
}

.pure-menu-heading:hover {
  background: none;
  border: none;
  text-decoration: none !important;
  color: #0bff00;
}

.social-media-icon {
  font-size: 20px;
}


.home-menu ul {
  margin-right: 10px;
}

.home-menu span,
.home-menu a,
.home-menu li {
  color: #fff;
}

.pure-menu-link {
  padding: 5px;
}

.home-menu li a:hover, .home-menu li:hover {
  background: none;
  border: none;
  text-decoration: none;
  color: #0bff00;
}




/* END OF NAVBAR */

/* SPLASH CONTAINER */

.code-case-block {
  color: #ffa42a;
}

.code-function {
  color: cornflowerblue;
}

a.pure-button-primary {
  background: white;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 120%;
}

a.pure-button-primary:hover {
  text-decoration: none;
}

.splash-container {
  background-image: url('../images/main-bg-basketball.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.splash-subhead {
  opacity: 1;
  color: white;
  text-transform: none;
}

/* END OF SPLASH CONTAINER */

/* ABOUT ME */

.profile-pic {
  border-radius: 20px;
}

/* END OF ABOUT ME */

/* PROJECTS */
.carousel-container {
  padding: 0px 90px;
  max-width: 950px;
  margin: 30px auto 50px;
}

.project-thumbnail-container {
  max-height: 400px;
  min-height: 400px;
}

.carousel-caption p {
  max-width: 350px; 
  width: 100%;
  margin: 0 auto 20px;
}

.project-link {
  color: #0bff00;
  text-decoration: underline;
  font-weight: bold;
}

.project-link:hover {
  color: #BBFFB7;
}

.carousel {
  -webkit-box-shadow: 0px 0px 23px 5px #aaa;
  -moz-box-shadow: 0px 0px 23px 5px #ccc;
  box-shadow: 0px 0px 23px 5px #ccc;
}

.project-thumbnail {
  width: 100%;
}

/* END OF PROJECTS */


/* EDUCATION */

.education-thumbnail {
  vertical-align: middle;
  width: 80px;
  height: auto;
  margin-right: 5px;
}

.date {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
}

.date-cf {
  margin-top: 30px;
}

.date-nau {
  margin-top: 25px;
}

/* END OF EDUCATION */

/* WORK EXPERIENCE */
.job-subhead {
  font-size: 16px;
}

.job-thumbnail {
  max-width: 55px;
  vertical-align: middle;
  margin-right: 5px;
}

.eleven-thumbnail {
  max-width: none;
  width: 90px;
}

.date-job-cf {
  margin-top: 18px;
}

.date-baskets {
  margin-top: 23px;
}

.job-name {
  font-style: italic;
}

/* SKILLSET */

/*.justify-content {
  display: flex;
  justify-content: center;
}*/

.pie-chart-canvas {
  display: inline-block !important;
  max-width: 300px;
}

.bar-chart-canvas {
  display: inline-block !important;
  max-width: 600px;
}

#frontendChart {
  margin-right: 50px;
}

#backendChart {
  margin-left: 50px;
}

#extraChart {
  margin-top: 50px;
}

.project-c-header-dark {
  color: black;
}

.project-c-link-dark {
  color: rgb(6, 48, 3);
}



/* MEDIUM SIZE AND BELOW DEVICES */
@media only screen and (max-width: 767px) {
  .pure-menu-list {
    display: block !important;
  }

  .date {
    display: none;
  }

  .carousel-container {
    padding: 0px;
  }
}
